extends layout

block content
    div(class="main-container")
        img(src="images/logo.png", alt="carambar logo", width="500px")
        h1 Voici une bonne blague
        div(id="jokeContainer")
            p= joke.question
            p= joke.answer
        button(id="refreshJokeButton") Une nouvelle blague !

    script.
        document.getElementById('refreshJokeButton').addEventListener('click', async function() {
        try {
            const response = await fetch('/api/jokes/random');
            const joke = await response.json();
            document.getElementById('jokeContainer').innerHTML = `
                <p>${joke.question}</p>
                <p>${joke.answer}</p>
            `;
        } catch (error) {
            document.getElementById('jokeContainer').innerHTML = error;
        }
        });
